RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ core/router.lua?lua_webpage_page_request_variable=$1 [L,QSA]
DirectoryIndex core/router.lua?lua_webpage_page_request_variable=App