RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ luaflow/router.lua?lua_webpage_page_request_variable=$1 [L,QSA]
DirectoryIndex luaflow/router.lua?lua_webpage_page_request_variable=App